
<div class="form-group">

    <div>
        <label class = "col-xs-3 control-label">Select Asset Type :</label>
    </div>
    <div class = "col-xs-5">
        <select id="selectAssetType" class="form-control">
            <option value="MainAsset">Main asset</option>
            <option value="SubAsset">Sub asset</option>
        </select>
    </div>

</div>
