

<div class="dropzone" id="my-dropzone"></div>


<script>

    $(document).ready(function () {
  
        uploadFiles();
  
    });


    function uploadFiles() {

        var myDropzone = new Dropzone("#my-dropzone", {
            paramName: 'file',
            method: 'post',
            //maxFiles: 1,
            url: '/Image/OpenAssetStatusUploadFileSave',
            dictDefaultMessage: "Drag your images for zone ",
            clickable: true,
            maxFilesize: 512,
            uploadMultiple: true,
            addRemoveLinks: true,
            forceFallback: false,
            init: function () {
                this.on("addedfile", function (file) {
                    //alert("added file in zone.");
                });
                this.on("maxfilesexceeded", function (file) {
                    alert("File limit 512");
                });
                this.on("complete", function (file) {
                    fileArray.push(file);
                    console.log(file.name)
                });
                this.on("removedfile",function(file){
                    
                    var i = fileArray.indexOf(file);
                    fileArray.splice(i,1);

                    $.ajax({
                        type: 'Post',
                        url: '/Image/RemoveAssetStatusUploadedFile',
                        data: { "fileName": file.name },
                        success: function (data) {

                        }
                    });


                });
            }
        });

        if (fileArray != null) {
            for (var i in fileArray) {

                myDropzone.emit("addedfile", fileArray[i]);
                $(".dz-progress").css("background-color", 'initial');
            }
        }

        return myDropzone;
    }


    
</script>