


<div class="dropzone" id="westUploadDropzone"></div>


<script>

    $(document).ready(function () {

        uploadFilesWestDropzone();

    });

    function uploadFilesWestDropzone() {

        var myDropzone = new Dropzone("#westUploadDropzone", {
            paramName: 'file',
            method: 'post',
            //maxFiles: 1,
            url: '/Image/OpenWestUploadFileSave',
            dictDefaultMessage: "Click or drag photos ",
            clickable: true,
            maxFilesize: 512,
            uploadMultiple: true,
            addRemoveLinks: true,
            forceFallback: false,
            init: function () {
                this.on("addedfile", function (file) {

                });
                this.on("maxfilesexceeded", function (file) {
                    alert("File limit 512");
                });
                this.on("complete", function (file) {
                    westImageArray.push(file);
                    $('#westFileCount').html(westImageArray.length + ' Files uploaded');

                });
                this.on("removedfile",function(file){

                    var i = westImageArray.indexOf(file);
                    westImageArray.splice(i, 1);
                    $('#westFileCount').html(westImageArray.length + ' Files uploaded');

                    $.ajax({
                        type: 'Post',
                        url: '/Image/RemoveWestUploadedFile',
                        data: { "fileName": file.name },
                        success: function (data) {

                        }
                    });

                });
            }
        });

        if (westImageArray != null) {
            for (var i in westImageArray) {

                myDropzone.emit("addedfile", westImageArray[i]);
                myDropzone.createThumbnailFromUrl(westImageArray[i], '/InstitutionImage/west/' + westImageArray[i].name + '');
                $(".dz-progress").css("background-color", 'initial');
            }
        }

        return myDropzone;
    }



</script>

