@{
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

@{
    ViewBag.Title = "Contact";
}


<div class="col-sm-12" style="padding:0px 25px;">

    <h2>Contact us:</h2>
    <h3>Hazrath Tipu Sultan Shaheed Wakf Estate</h3>

    <address>
        Gumbad-e- shahi ganjam<br />
        Srirangapatna, Mandya district<br />
        <abbr>Phone:</abbr>
        08236-252786
    </address>

    <address>
        <strong>Email:</strong>   <a>info@tiputigerofmysore.com</a><br />
        <strong>Web:</strong> <a href="http://www.tiputigerofmysore.com/" target="_blank">www.tiputigerofmysore.com</a>
    </address>



</div>


<script>
    $(function () {
        $('#contactUsBtn').addClass("active");
    })
</script>

