@{
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

@{
    ViewBag.Title = "OpenDataVerifyPage";
}


<div class="col-sm-12" style="padding:15px;">

    <embed src="~/Images/Data Verify Form.pdf" style="width:100%;height:800px"  type='application/pdf'>

</div>

<script>
    $(function () {
        $('#dataVerifyBtn').addClass("active");
    });
</script>