@{
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

@{
    ViewBag.Title = "OpenReport";
}

<h2>OpenReport</h2>

<script>
    $(function () {
        $('#reportNavBtn').addClass("active");
    })
</script>
